[submodule "others/others/PortfolioV.1"]
	path = others/others/PortfolioV.1
	url = https://github.com/Enzo-Qlns/PortfolioV.1.git
[submodule "others/PortfolioV.1"]
	path = others/PortfolioV.1
	url = https://github.com/Enzo-Qlns/PortfolioV.1.git
