 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/IMG_2935.JPG");
  background-position: 50% 100%;
}

.u-section-1 .u-sheet-1 {
  min-height: 553px;
}

.u-section-1 .u-image-1 {
  width: 161px;
  height: 161px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-1 {
  width: 526px;
  min-height: 120px;
  height: auto;
  margin: 109px -1px 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 501px;
  }

  .u-section-1 .u-group-1 {
    min-height: 114px;
    margin-top: 57px;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 393px;
  }

  .u-section-1 .u-image-1 {
    width: 138px;
    height: 138px;
  }

  .u-section-1 .u-group-1 {
    width: 435px;
    min-height: 120px;
    margin-top: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 334px;
  }

  .u-section-1 .u-image-1 {
    width: 122px;
    height: 122px;
  }

  .u-section-1 .u-group-1 {
    width: 407px;
    min-height: 60px;
    margin-right: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 14px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 254px;
  }

  .u-section-1 .u-image-1 {
    margin-left: -28px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 28px;
    margin-bottom: 49px;
    min-height: 56px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 15px;
  }
} .u-section-2 {
  background-image: none;
  min-height: 1211px;
}

.u-section-2 .u-gallery-1 {
  height: 1209px;
  grid-gap: 17px 17px;
  margin: 0 0 2px;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 0px;
}

.u-section-2 .u-back-image-1 {
  object-position: 50% 0%;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,1), rgba(0,0,0,1));
  padding: 20px;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,1), rgba(0,0,0,1));
  padding: 20px;
}

.u-section-2 .u-back-image-3 {
  object-position: 50% 21.29%;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,1), rgba(0,0,0,1));
  padding: 20px;
}

.u-section-2 .u-back-image-4 {
  object-position: 50% 30.7%;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,1), rgba(0,0,0,1));
  padding: 20px;
}

.u-section-2 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,1), rgba(0,0,0,1));
  padding: 20px;
}

.u-section-2 .u-back-image-6 {
  object-position: 28.44% 100%;
}

.u-section-2 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,1), rgba(0,0,0,1));
  padding: 20px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 997px;
  }

  .u-section-2 .u-gallery-1 {
    height: 997px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 1719px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1718px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 5041px;
  }

  .u-section-2 .u-gallery-1 {
    height: 5154px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 2905px;
  }

  .u-section-2 .u-gallery-1 {
    height: 3245px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 600px;
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 504px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 341px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 251px;
  }
}