 .u-section-1 {
  background-image: none;
  min-height: 1156px;
}

.u-section-1 .u-image-1 {
  height: 835px;
  object-position: 0% 0%;
  margin-top: 321px;
  margin-bottom: 0;
}

.u-section-1 .u-image-2 {
  height: 646px;
  margin-top: -1193px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: -405px auto 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 99px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 402px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.2);
  padding: 30px 20px;
}

.u-section-1 .u-icon-1 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 0 0;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  margin: 20px 9px 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 393px;
}

.u-section-1 .u-container-layout-3 {
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.2);
  padding: 30px 20px;
}

.u-section-1 .u-icon-2 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 0 0;
}

.u-section-1 .u-text-4 {
  font-style: italic;
  margin: 20px 9px 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 106px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 95px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 403px;
}

.u-section-1 .u-container-layout-6 {
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.2);
  padding: 30px 5px 30px 7px;
}

.u-section-1 .u-icon-3 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 0 0;
}

.u-section-1 .u-text-6 {
  font-style: italic;
  margin: 20px 9px 0;
}

.u-section-1 .u-layout-cell-7 {
  min-height: 371px;
}

.u-section-1 .u-container-layout-7 {
  box-shadow: 5px 5px 0px 0 rgba(0,0,0,0.2);
  padding: 30px 20px;
}

.u-section-1 .u-icon-4 {
  height: 78px;
  width: 78px;
  background-image: none;
  margin: 0 auto;
}

.u-section-1 .u-text-7 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 0 0;
}

.u-section-1 .u-text-8 {
  font-style: italic;
  margin: 20px 9px 0;
}

.u-section-1 .u-layout-cell-8 {
  min-height: 99px;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px;
}

.u-section-1 .u-text-9 {
  font-size: 4.5rem;
  letter-spacing: normal;
  text-transform: uppercase;
  width: 822px;
  font-weight: 700;
  margin: -612px auto 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1241px;
  }

  .u-section-1 .u-image-1 {
    height: 698px;
    margin-top: 959px;
  }

  .u-section-1 .u-image-2 {
    height: 541px;
    margin-top: -1055px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-top: -476px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 82px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 331px;
  }

  .u-section-1 .u-icon-1 {
    color: rgb(85, 92, 102) !important;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 324px;
  }

  .u-section-1 .u-icon-2 {
    color: rgb(85, 92, 102) !important;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 87px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 78px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 332px;
  }

  .u-section-1 .u-icon-3 {
    color: rgb(85, 92, 102) !important;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 306px;
  }

  .u-section-1 .u-icon-4 {
    color: rgb(85, 92, 102) !important;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 82px;
  }

  .u-section-1 .u-text-9 {
    margin-top: -409px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1420px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 723px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -496px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 126px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 133px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 119px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 126px;
  }

  .u-section-1 .u-text-9 {
    font-size: 6rem;
    width: auto;
    margin-top: -1202px;
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1416px;
  }

  .u-section-1 .u-image-1 {
    height: 1072px;
    margin-top: 1px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -1414px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -490px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 189px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 200px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 179px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 189px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-9 {
    font-size: 2.75rem;
    margin: -1080px 0 932px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1822px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 750px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -1406px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -493px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 119px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 126px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 113px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 119px;
  }

  .u-section-1 .u-text-9 {
    font-size: 6rem;
    margin-top: -1487px;
    margin-bottom: 60px;
  }
}