 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("../images/533bf8eca7c75cdfad42d4a3cdba73f8bddd347e8b1a5bf52f2bc83d197023312196fd8c09aabf2e6797e2888da1300714099a7854d5c1e8de384c_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 904px;
}

.u-section-1 .u-text-1 {
  font-family: "Abril Fatface";
  font-size: 12.5rem;
  font-style: italic;
  line-height: 1.2;
  margin: 269px 91px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 745px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 519px;
  }

  .u-section-1 .u-text-1 {
    font-size: 6rem;
    width: auto;
    margin-top: 60px;
    margin-right: 240px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 389px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 780px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    margin-top: 315px;
    margin-right: 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 738px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 60px auto 0 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 642px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 10px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 19px 20px 0;
}

.u-section-2 .u-text-2 {
  font-size: 2.25rem;
  margin: 20px 186px 0 20px;
}

.u-section-2 .u-text-3 {
  font-size: 1.125rem;
  margin: 20px 20px 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.125rem;
  margin: 0 0 0 20px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1rem;
  margin: 35px auto 0 20px;
  padding: 16px 43px;
}

.u-section-2 .u-image-1 {
  min-height: 320px;
  background-image: url("../images/esgi.jpeg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-image-2 {
  min-height: 310px;
  background-image: url("../images/muresgi.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-image-3 {
  min-height: 594px;
  background-image: url("../images/reims.jpeg");
  background-position: 44.96% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-5 {
  font-size: 1.125rem;
  margin: 35px 700px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 404px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 529px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 116px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 264px;
  }

  .u-section-2 .u-image-2 {
    min-height: 264px;
  }

  .u-section-2 .u-image-3 {
    min-height: 490px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 500px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 508px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 457px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 54px;
  }

  .u-section-2 .u-image-1 {
    min-height: 338px;
  }

  .u-section-2 .u-image-2 {
    min-height: 119px;
  }

  .u-section-2 .u-image-3 {
    min-height: 751px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 280px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 665px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-2 .u-image-1 {
    min-height: 507px;
  }

  .u-section-2 .u-image-2 {
    min-height: 381px;
  }

  .u-section-2 .u-image-3 {
    min-height: 563px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1630px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 472px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 23px;
    padding-bottom: 23px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 26px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 158px;
  }

  .u-section-2 .u-image-1 {
    min-height: 319px;
  }

  .u-section-2 .u-image-2 {
    min-height: 271px;
  }

  .u-section-2 .u-image-3 {
    min-height: 464px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 20px;
    margin-right: 0;
    margin-bottom: 60px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 659px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 599px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0 30px 10px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  text-transform: uppercase;
  margin: 19px 20px 0;
}

.u-section-3 .u-text-2 {
  font-size: 2.25rem;
  margin: 20px 34px 0 20px;
}

.u-section-3 .u-text-3 {
  font-size: 1.125rem;
  margin: 20px 201px 0 20px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1rem;
  margin: 34px auto 0 20px;
  padding: 16px 43px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 203px;
}

.u-section-3 .u-image-1 {
  height: 195px;
  width: 455px;
  object-position: 0% 100%;
  margin: 0 auto;
}

.u-section-3 .u-image-2 {
  min-height: 396px;
  background-image: url("../images/oza2.jpg");
  background-position: 24.62% 50%;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 404px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 494px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 104px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 168px;
    background-position: 50% 50%;
  }

  .u-section-3 .u-image-1 {
    width: 249px;
    height: 107px;
  }

  .u-section-3 .u-image-2 {
    min-height: 264px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 575px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 304px;
  }

  .u-section-3 .u-image-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 2px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 349px;
  }

  .u-section-3 .u-image-1 {
    width: 514px;
    height: 221px;
  }

  .u-section-3 .u-image-2 {
    min-height: 381px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 465px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 599px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-2 {
    width: auto;
  }

  .u-section-3 .u-text-3 {
    width: auto;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 20px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 220px;
  }

  .u-section-3 .u-image-1 {
    width: 314px;
    height: 135px;
  }

  .u-section-3 .u-image-2 {
    min-height: 271px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 596px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 536px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 132px 30px 10px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  text-transform: uppercase;
  margin: 19px 20px 0;
}

.u-section-4 .u-text-2 {
  font-size: 2.25rem;
  margin: 20px 47px 0 20px;
}

.u-section-4 .u-text-3 {
  font-size: 1.125rem;
  margin: 19px 20px 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1rem;
  margin: 20px auto 0 20px;
  padding: 16px 43px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 536px;
}

.u-section-4 .u-image-1 {
  height: 487px;
  width: 411px;
  margin: 20px auto 0;
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 502px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 442px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 442px;
    background-position: 50% 50%;
  }

  .u-section-4 .u-image-1 {
    width: 280px;
    height: 331px;
    margin-top: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 429px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 339px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1025px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 46px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 449px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 529px;
  }

  .u-section-4 .u-image-1 {
    width: 390px;
    height: 529px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 799px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 428px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 5px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 333px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 461px;
  }
} .u-section-5 {
  margin-top: 100px;
}

.u-section-5 .u-sheet-1 {
  min-height: 395px;
}

.u-section-5 .u-text-1 {
  font-weight: 900;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -72px auto 0;
}

.u-section-5 .u-list-1 {
  margin-top: 26px;
  margin-bottom: 50px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(50% - 10px) calc(50% - 10px);
  grid-gap: 20px 20px;
  min-height: 345px;
}

.u-section-5 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 0 0;
}

.u-section-5 .u-image-1 {
  height: 186px;
  width: 345px;
  transition-duration: 0.5s;
  margin: 33px auto 0;
}

.u-section-5 .u-text-2 {
  margin: 0 auto;
}

.u-section-5 .u-text-3 {
  font-size: 1.14286rem;
  margin: 19px 39px 0;
}

.u-section-5 .u-list-item-2 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 0 0;
}

.u-section-5 .u-image-2 {
  height: 186px;
  width: 345px;
  transition-duration: 0.5s;
  margin: 33px auto 0;
}

.u-section-5 .u-text-4 {
  margin: 0 auto;
}

.u-section-5 .u-text-5 {
  font-size: 1.14286rem;
  margin: 19px 39px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-repeater-1 {
    min-height: 284px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 749px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: -79px;
  }

  .u-section-5 .u-list-1 {
    margin-top: 33px;
    margin-bottom: 0;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 749px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-bottom: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-image-1 {
    height: 183px;
    width: 340px;
  }

  .u-section-5 .u-image-2 {
    height: 183px;
    width: 340px;
  }
}

.u-section-5 .u-image-1,
.u-section-5 .u-image-1:before,
.u-section-5 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-5 .u-image-1.u-image-1.u-image-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-image-1.u-image-1.u-image-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-image-2,
.u-section-5 .u-image-2:before,
.u-section-5 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-5 .u-image-2.u-image-2.u-image-2:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-image-2.u-image-2.u-image-2.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}